/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
/*li {
  color:red;
} */ 
body {
  background-color: rgba(196, 180, 146, 1);
}
/*ul.nav.nav.nav-tabs{
  background-color: rgba(100,100,100,0.05) ;
}*/
.middle-outside{
  /*border:1px solid rgba(116, 118, 121, 1);*/
  border-top:none;
  /*border-bottom:none;*/
  background: white;
}
.middle{
  top:602px;
  padding:5%;
  padding-top:2%;
  z-index: 1;
}
.bottomer {
  background: rgba(105, 93, 77, 1);
  
  bottom:0%;
  width:100%;
}
.justified{
  text-align: justify;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.large{
  font-size: 18px;
  line-height: 24px
}
.centered{
  text-align: center;
}
/*.header-img{
  left:0px;
  right:0px;
  border-bottom: 1px solid grey;
  padding:0px;
  position:absolute;
  height:80%;
  border:1px solid red;
  z-index: 0;
}*/
.logo-img{
  left:0px;
  right:0px;
  margin:0px;  
  width:100%;
  /*z-index:4;*/
  /*height:100%;*/
  /*proooooobka*/

  
}
/*.header-div{
  position:absolute;
  top:30%;
  z-index:4;
  border: 3px solid green;
}
*/